<%= form_for(@comment) do |f| %>
	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_field :content %>
	</div>
	<%= f.hidden_field :project_id, value: params[:id] %>
	<div class="action">
		<%= f.submit %>
	</div>
<% end %>
