<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_area :explanation %>
  </div>
  <div class="field">
    <% if @project.image? %>
      <%= image_tag @project.image.url %>
    <% end %>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <% if @project.persisted? && @project.image %>
      <%= f.check_box :remove_image %>
      画像を削除
    <% end %>
  </div>
  <div class="field">
    <%= f.label :wanted %><br>
    <%= f.text_area :wanted %>
  </div>
  <div class="field">
    <%= f.label :doing %><br>
    <%= f.check_box :doing %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
