<p id="notice"><%= notice %></p>
<p>
  <%= @project.users.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Tag</strong>
  <%= @project.type_list %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @project.explanation %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @project.image.url, height: 100 %>
</p>

<p>
  <strong>Wanted:</strong>
  <%= @project.wanted %>
</p>

<p>
  <strong>Doing:</strong>
  <%= @project.doing %>
</p>

<p>
  <strong>Done:</strong>
  <%= @project.done %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= form_for @role, url: { controller: "roles", action: "create" } do |f| %>
  <%= f.hidden_field :role_name, value: "joiner" %>
  <%= f.hidden_field :project_id, value: @project.id %>
  <% if Role.where(project_id: @project.id, user_id: current_user.id).blank? %>
    <%= f.submit "このプロジェクトに参加する" %>
  <% else %>
    もう参加申請をしました
  <% end %>
<% end %>

<%= form_for @project do |f| %>
  <% if !@project.doing && !@project.done %>
    <%= f.hidden_field :doing, value: 1 %>
    <%= f.submit "このプロジェクトを開始する" %>
  <% elsif @project.doing && !@project.done %>
    <%= f.hidden_field :done, value: 1 %>
    <%= f.submit "このプロジェクトを終了する" %>
  <% else %>
    このプロジェクトは完了しています
  <% end %>
<% end %>

<%= render template: "comments/new" %>

<%= render template: "comments/index" %>