<%= form_for(@engineer) do |f| %>
  <% if @engineer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engineer.errors.count, "error") %> prohibited this engineer from being saved:</h2>

      <ul>
      <% @engineer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :history %><br>
    <%= f.number_field :history %>
  </div>

  <div class="field">
    <%= f.label :language_list %><br />
    <%= f.text_field :language_list %>
  </div>

  <div class="field">
    <%= f.label :product1 %><br>
    <%= f.text_field :product1 %>
  </div>

  <div class="field">
    <%= f.label :product2 %><br>
    <%= f.text_field :product2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
