<h1>Listing engineers</h1>

<table>
  <thead>
    <tr>
      <th>product</th>
      <th>History</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engineers.each do |engineer| %>
      <tr>
        <td><%= engineer.product %></td>
        <td><%= engineer.history %></td>
        <td><%= link_to 'Show', engineer %></td>
        <td><%= link_to 'Edit', edit_engineer_path(engineer) %></td>
        <td><%= link_to 'Destroy', engineer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New engineer', new_engineer_path %>
