<p>
  <strong>history:</strong>
  <%= @engineer.history %>
</p>

<p>
  <strong>languages:</strong>
  <%= @engineer.language_list %>
</p>

<p>
  <strong>product1:</strong>
  <%= @engineer.product1 %>
</p>

<p>
  <strong>product2:</strong>
  <%= @engineer.product2 %>
</p>

<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>
